div.gameboard {
    display: flex;
    flex-direction: column;
    font-size: xx-large;
}

div.gameboard > div.row {
    display: flex;
    flex-direction: row;
}

div.gameboard > div.row > div {
    border: 0.1em solid white;
    height: 1em;
    width: 1em;
    background-position: center;
}
