body,
div.container {
  display: flex;
  flex-direction: column;
  background-color: #474f7a;
  align-items: center;
}

div.container {
  gap: 1em;
  padding: 1em;
  width: fit-content;
}

button {
  background-color: #b4b4b4;
  padding: 0.5em 2em;
  border: none;
  border-radius: 10px;
}

div.top {
  height: 5vh;
  align-self: stretch;
}

div.controls {
  position: relative;
  display: flex;
  justify-content: space-evenly;
}

@import url("https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap");

div.game-over {
  top: 0;
  position: relative;
  font-family: "Sawarabi Mincho";
  font-size: x-large;
  text-align: center;
}

.hidden {
  display: none !important;
}
